.text-center {
    text-align: center;
    color: #7f919f;
}

.bg-yellow{
    background: #1f272cf6;
}

.mx-auto{
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.item-center{
   align-items: center;
}